* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#doiTac .section-content .text-center{
    margin-bottom: 40px;
}
#doiTac .section-content .row {
    flex-wrap: wrap;
    width: 72%;
    margin: 0 auto;
    border: 1px solid rgb(235, 232, 232);
    
}

#doiTac .section-content .row .col-item {
    border: 1px solid rgb(235, 232, 232);
    
    
}
#doiTac .col-item .img-doi-tac img{
    width: 100%;
}

@media screen and (min-width: 992px){
    .col-item  {
        width: 20%;     
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .col-item  {
        width: 33.33%;
        
    }
}

@media screen and (max-width: 767px){
    .col-item  {
        width: 100%;
        
    }
}


